.birdCard {
    list-style: none;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 15px 15px rgba(32, 32, 32, 0.667);
    height: 400px;
}

.birdImg {
    display: block;
    margin: auto;
    width: 50%;
    height: 80%;
    border: 4px solid red;
}

.birdImageContainer {
    height: 44%;
}

.adoptButtonContainer {
    height: 25%;
}

.adoptButton {
    margin: auto;
}

.cost, .birdName {
    font-family: monospace;
    font-size:20px;

}

.birdName {
    margin-top: 40px;
}