.birdCard {
    list-style: none;
    border: 3px solid black;
    border-radius: 20px;
    box-shadow: 15px 15px rgba(32, 32, 32, 0.667)
}

.birdImg {
    display: block;
    margin: auto;
    width: 50%;
    height: 80%;
}

.birdImageContainer {
    height: 50%;
}