img{
    height: 100px;
    width: 100px
}

.birds{
    border: black 1px solid;
    
}

.card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-rows: repeat(3, 1fr);
}