.Cart {
    border: 3px solid black;
    padding: 15px;
}

#removeBirdButton {
    border: none;
    padding: none;
    margin: none;
    font-size: 10px;
    color: rebeccapurple
}

.cartItem {
    font-size: 12px;
    text-align: center;
    margin: 0px;
}

h2 {
    font-size: 30px;
    border-bottom: 3px solid black;
    padding-bottom: 10px;
}

h4 {
    font-size: 19px;
    margin: 0px;
}