* {
    text-align: center;
}

.main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 60px;
    gap: 60px;
}

.birds {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px
}