#navBar {
  display: flex;
  width: 100%;
  height: 100px;
  text-align: left;
  justify-content: left;
  padding-top: 30px;
  margin-left: 70px;
  margin-right: 10px;
  margin-bottom: 10px;
}
#navBar h1{
  padding: 20px;
  margin-bottom: 0px;
  border: 2px solid rgb(199, 155, 155);
  box-shadow: rgb(29, 135, 91) 10px 10px 10px;
}
.navimg {
  margin-left: 10px;
  margin-right: 0px;
  display: flex;
  height: 255px;
}

#fullPage {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 3fr;
  /* background: rgb(254, 203, 203);
  background: radial-gradient(
    circle,
    rgba(254, 203, 203, 1) 0%,
    rgba(194, 255, 208, 1) 100%
  ); */
}

body {
  width: 100%;
  background: rgb(254, 203, 203);
  background: radial-gradient(
    circle,
    rgba(254, 203, 203, 1) 0%,
    rgba(194, 255, 208, 1) 100%
  );
}

.Cart {
  display: grid;
  border: 2px solid black;
  padding: 10px;
  margin: 20px 50px 10px 30px;
  box-shadow: rgb(84, 85, 85) 10px 10px 10px;
}


.adoptbtn{
  align-items: center;
  background-color: #f3b1a9;
  border: 2px solid rgb(207, 248, 176);

  border-radius: 8px;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 15px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  margin: 0px 10px 10px 80px;

  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}


.adoptbtn:after {
  background-color: rgb(204, 247, 179);
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.adoptbtn:hover:after {
  transform: translate(0, 0);
}

.adoptbtn:active {
  background-color: #67f69e;
  outline: 0;
}

.adoptbtn:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .adoptbtn {
    padding: 0 40px;
  }
}


h1 {
  color: rgb(212, 137, 137);
  text-shadow: 2px 2px 3px #000000;
}

h2 {
  color: rgb(212, 137, 137);
  text-shadow: 2px 2px 3px #000000;
}

.Checkout {
  display: grid;
  border: 2px solid rgb(0, 0, 0);
  padding: 10px;
  margin: 20px 50px 10px 30px;
  box-shadow: grey 10px 10px 10px;
}

.thanks {
  display: grid;
  text-align: center;
  border: 2px solid rgb(21, 21, 20);
  padding: 10px;
  margin: 20px 50px 10px 30px;
  box-shadow: grey 10px 10px 10px;
}

.runbirdy {
  height: 200px;
}

.card {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
  width: auto;
  margin: -10px 30px 20px 10px;
}

 .deletebtn {
  align-items: center;
  background-color: #bbf28d;
  border: 2px solid #111;
  box-shadow: rgb(247, 179, 179) 10px 5px 5px;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter, sans-serif;
  font-size: 12px;
  height: 28px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
margin-left: 10px;  
text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.deletebtn:after {
  background-color: #111;
  border-radius: 12px;
  display: block;
  height: 38px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform 0.2s ease-out;
  z-index: -1;
}

.deletebtn:hover:after {
  transform: translate(1, 5);
}

.deletebtn:active {
  background-color: #8a7bea;
  outline: 0;
}

.deletebtn:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .deletebtn {
    padding: 0 40px;
  }
} 

.birdImg {
  padding-left: 65px;
  padding-right: 60px;
  padding-bottom: 20px;
  height: 160px;
  width: 160px;
}

.birds {
  display: block;
  width: 300px;
  height: auto;
  border: 2px solid black;
  margin: 30px auto;
  text-align: center;
  padding: 4px;
  box-shadow: 5px 5px 5px 2px #6d6f6e;
}
