img {
  height: 150px;
  width: 150px;
}

.displayBird {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
}

.displayBird div {
  border: 1px solid blue;
  margin: 30px auto;
  padding: 5px;
  height: auto;
  width: 300px;
  background-color: lightcoral;
  color: chartreuse;
  box-shadow: lightseagreen 10px 5px 5px;
}

#Adopt {
  background-color: burlywood;
  color: darkmagenta;
}
