/* should style individual components */

* {
    box-sizing: border-box;
}

.topLevel {
    display: grid;
    grid-template-rows: 5% 45% 45%;
    grid-template-columns: 20% 80%;
    row-gap: 15px;
    column-gap: 15px;
}

main {
    grid-column: 2;
    grid-row: span 3;
}

.card {
    grid-row: 2/4;
    grid-column: 2;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,250px);
    column-gap: 10px;
    row-gap: 10px;
    justify-items: center;
    align-items: center;
    height: 100%;
    margin-top: 20px;
}

aside {
    grid-row: 2 /4;
    grid-column: 1;
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 15px;
    justify-items: center;
    margin-left: 20px;
}

aside div {
    border: 1px solid black;
    width: 100%;
}

.birds {
    background-color: rgba(192, 252, 232, 0.898);
    border: 1px solid black;
    box-shadow: 10px 5px 5px lightgrey;
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
}

.birds button {
    width: 50%;
    background-color: rgb(43, 111, 9);
    color: white;
    font-family: Aboreto ;
    font-size: 14px;
    margin: 0;
}
.birds button:hover {
    background-color: white;
    color: rgb(43, 111, 9);
}

header {
    grid-row: 1;
    grid-column: span 2;
    justify-self: center;
    text-decoration: underline;
    font-family: serif;
    color: rgb(23, 96, 23);
}

img {
    width: 100px;
    height: 100px;
}

.birds p {
    font-weight: bold;
    font-family: Comfortaa ;
    margin: 0;
}

h3 {
    font-family: Aboreto;
    margin-top: 20px;
    text-decoration: underline;
}

h5 {
    color: forestgreen;
    text-decoration: underline;
    font-family: Aboreto ;
    margin: 0;
    margin-top: 10px;
}

.Cart {
    text-align: center;
}
.Cart h4 {
    color: rgba(192, 252, 232, 0.898);
    border: 2px solid rgba(192, 252, 232, 0.898);
    background-color: rgb(39, 60, 3) ;
}
.Cart h6 {
    color: red;
}
.Cart p {
    font-family: DynaPuff ;
    color: rgb(11, 154, 20);
}
.Cart ul {
    list-style: none;
    font-family: DynaPuff ;
    color: rgb(221, 52, 14);
}
.Cart ol {
    font-weight: bold;
    font-family: Comfortaa;
    font-weight: bolder;
    
}

.Checkout {
    text-align: center;
}
